.image{
    width: 100%;

    border-radius: 10px 10px 0 0;
}

.artCardPostWrapper{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: flex-start;
}

.artCardPost{

    max-width: 400px;

    display: flex;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 20px 26px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    margin: 16px;

    transition: all 0.3s ease-out;
}

.artCardPost:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11);
  }

.artCardBody{
    margin: 12px;
}
  